<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.biubiu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:name="com.android.biubiu.myapplication.BiubiuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.biubiu.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.biubiu.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.biubiu.activity.GuildActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name="com.android.biubiu.activity.LoginOrRegisterActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name="com.android.biubiu.activity.LoginActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name="com.android.biubiu.activity.RegisterOneActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name="com.android.biubiu.activity.RegisterTwoActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name="com.android.biubiu.activity.RegisterThreeActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name="com.android.biubiu.biu.activity.BiuBiuSendActivity"
            android:label="@string/title_activity_biu_biu_send" >
        </activity>
        <activity
            android:name=".ChangeUserNameActivity"
            android:label="@string/title_activity_change_user_name" >
        </activity>
    </application>

</manifest>
